.otree-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: transparentize($gray-light, 50%);
  color: $gray-dark;

  > div {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    text-align: center;

    .indicator {
      font-size: 70px;
      line-height: 160px;
      height: 160px;
    }

    .message {
      line-height: 40px;
    }
  }
}
