<div class="oseed-main-menu">
    <div class="container text-center">
        <h1>Main Menu</h1>

        <ul>
            <li>
                <a href="" ng-click="menuCtrl.checkInstall()" class="btn btn-block btn-primary">
                    <i class="fa fa-fw fa-check"></i> Check Installation
                </a>
            </li>
            <li>
                <a href="" ng-click="menuCtrl.newProject()" class="btn btn-block btn-primary">
                    <i class="fa fa-fw fa-file"></i> New Project
                </a>
            </li>
            <li>
                <a href="" class="btn btn-block btn-primary">
                    <i class="fa fa-fw fa-folder"></i> Open Project
                </a>
            </li>
        </ul>
    </div>
</div>
